#endpoint-table,
#new-review-form-card,
[id^="update-"] {
    display: none;
}

a {
    text-decoration: none !important;
}

#body,
.tab-pane {
    padding: 2.5%;
}

#category-tabs {
    padding-top: 2.5%;
}

.nav-item,
[class^="display-"] {
    margin-left: 5%;
}

div[class^="card"] {
    color: black;
}

i {
    color: white;
}